rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /assets/{document=**} { allow read, write: if true; }
    match /inventory/{document=**} { allow read, write: if true; }
    match /maintenance_records/{document=**} { allow read, write: if true; }
    match /kb_articles/{document=**} { allow read, write: if true; }
    match /licenses/{document=**} { allow read, write: if true; }
    match /servers/{document=**} { allow read, write: if true; }
  }
}
